.classpath
.clj-kondo/.cache
.clj-kondo/imports
.cpcache/
.idea
.lein*
.lsp/.cache
.nrepl-port
.portal/vs-code.edn
.project
.settings
.vscode
/build.boot
lib
multi-lib
target
.calva/repl.calva-repl
.calva/mcp-server/port
